
<!--Find next and prev index, create buttons to go to those pages --!>
<!--Clicking next or prev stores page in current page cookie --!>

<% act_hash = JSON.parse(cookies[:act_hash]) %>
<% index = act_hash.key(cookies[:current_page].to_s) %>
<% next_index = index.to_i + 1 %>
<% next_page = act_hash[next_index.to_s] %>
<% if (next_index > 1) then %>
<% prev_index = next_index - 2 %>
<% end %>
<% prev_page = act_hash[prev_index.to_s] %>

<%##know next index, becaus hash of current page points to current index%>
<%##previous button points to previous index in hash %>
<%##clicking button will update cookies... AJAX?? %>



<div class="prev_button col-md-2">

<%= link_to "PREVIOUS!!!", activities_path(page: prev_page), :class=>"btn btn-default" %>

</div>
<div class="act_card col-md-8">

<%= activity.name %>
<br>
<%= image_tag activity.image_path, size: "500x320", alt: activity.image_alt %>
<br> <br>

<div class="act_submit">
<%= link_to 'Yes! This one!', places_path, :class=>"btn btn-default act-submit" %> <br>
<% cookies[:activity_id] = { value: activity.id.to_s, expires: 1.hour.from_now } %>
</div>

</div>
<div class="next_button col-md-2">
<%= link_to "NEXT!!!", activities_path(page: next_page), :class=>"btn btn-default" %>
</div>

