<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Where are you,'+' right now'+'?' %><br>
    <%= f.text_field :address %> <br> 

   <div id=form_options>
    <%= f.label 'How much money are you willing to spend?' %> <br>
    <span id=left_form>
     <span id=free>
    <%= f.label 'None' %>
     </span>
    <%= f.radio_button :cost, "low" %>
    </span>
    <span id=abit>
    <%= f.label 'A bit' %>
    </span>
    <%= f.radio_button :cost, "mid" %>
    <span id=right_form>
    <%= f.label 'A lot' %>
    <%= f.radio_button :cost, "high" %> <br>
    </span>
    <br>

    <%= f.label 'How many people are with you?' %> <br>
    <span id=left_form>
     <span id=acouple>
    <%= f.label 'A couple' %>
     </span>
    <%= f.radio_button :group_size, "low" %>
    </span>
    <span id=afew>
    <%= f.label 'A few' %>
    </span>
    <%= f.radio_button :group_size, "mid" %>
    <span id=right_form>
    <%= f.label 'A lot' %>
    <%= f.radio_button :group_size, "high" %> <br>
    </span><br>

    <%= f.label 'What ages?' %> <br>
    <span id=left_form>
    <%= f.label 'Under 21' %>
    <%= f.radio_button :age, "low" %>
    </span>
    <%= f.label '21 & up' %>
    <%= f.radio_button :age, "mid" %>
    <span id=right_form>
    <%= f.label 'Family' %>
    <%= f.radio_button :age, "high" %> <br>
    </span>
   </div>
  </div>

  <div class="actions">
    <%= f.submit 'Submit Location', :class => 'btn-large btn-success' %>
  </div>
<% end %>
