<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Where are you,'+' right now'+'?' %><br>
    <%= f.text_field :address %> <br> 

    <%= f.label 'How much $$$?' %> <br>
    <%= f.label 'Free' %>
    <%= f.radio_button :cost, 1 %>
    <%= f.label 'A bit' %>
    <%= f.radio_button :cost, 2 %>
    <%= f.label 'A lot' %>
    <%= f.radio_button :cost, 3 %> <br>

    <%= f.label 'How many people?' %> <br>
    <%= f.label 'A couple' %>
    <%= f.radio_button :group_size, 1 %>
    <%= f.label 'A few' %>
    <%= f.radio_button :group_size, 2 %>
    <%= f.label 'A lot' %>
    <%= f.radio_button :group_size, 3 %> <br>

    <%= f.label 'What ages?' %> <br>
    <%= f.label 'Under 21' %>
    <%= f.radio_button :age, 2 %>
    <%= f.label '21 & up' %>
    <%= f.radio_button :age, 3 %>
    <%= f.label 'Family' %>
    <%= f.radio_button :age, 1 %> <br>
  </div>

  <div class="actions">
    <%= f.submit 'Submit Location', :class => 'btn-large btn-success' %>
  </div>
<% end %>
